<h5 class="form-header">Upload File into sql database</h5>

<%= form_with url: "/import", class: 'form' , method: :post  do |form| %>

  <%= form.label :query, "File:" %><br>
  <%= form.file_field :importFile  %><br><br>

  <%= form.submit "Upload" , class: 'cmn-btn'  %>
  <%= link_to 'Back', users_path  , class: 'btn btn-default' , id: 'back-btn' %>
  
<% end %>