<h5 class="form-header">Register</h5>

<% if  @user.errors.full_messages.any? %>

  <% @user.errors.full_messages.each do |error_message| %>

    <div> <ul class="form-msg"><li><%= "*"+error_message + "." %></li></ul></div>
  
  <% end %>

<% end %>

<div class="form">

<%= form_with url: home_path , model: @user , validate: true do |form| %>

  <%= form.label :query, "Name" , class: "space"  %><br>
  <%= form.text_field :name , class: "control", id: "name"  %><br>

  <%= form.label :query, "E-Mail Address"  , class: "space"  %><br>
  <%= form.email_field :email , class: "control" , id: "email" %><br>

  <%= form.label :query, "Password" , class: "space" %><br>
  <%= form.password_field :password , class: "control" , id: "password" %><br>

  <%= form.label :query, "Password confirmation", class: "space"  %><br>
  <%= form.password_field :password_confirmation , class: "control" , id: "password-confirmation" %><br>

  <%= form.label :query, "Type" , class: "space" %><br>
  <%= form.select :userType, [["Admin", "0"], ["User", "1"]] , class: "control"  %><br>

  <%= form.label :query, "Phone" , class:"space" %><br>
  <%= form.text_field :phone , class: "control" , id: "phone" %><br>

  <%= form.label :query, "Date of birth" , class:"space" %><br>
  <%= form.date_field :dob , class: "control" , id: "dob" %><br>

  <%= form.label :query, "Address" , class:"space" %><br>
  <%= form.text_field :address , class: "control", id: "address" %><br>

  <%= form.label :query, "Profile" , class: "space" %><br>
  <%= form.file_field :profile , accept:'image/*' , class: "file-control" , id: "profile" %><br>

  <%= form.submit "Register" ,  class: "space signup"  %>

  <%= form.submit "Clear" ,  id: "clear"  %>

<% end %>

</div>

<script>

$("#clear").on("click", function() {

  $("#name").val("");

  $("#email").val("");

  $("#password").val("");

  $("#password-confirmation").val("");

  $("#phone").val("");

  $("#dob").val("");

  $("#address").val("");
  
  $("#profile").val("");

});

</script>