<h5 class="form-header">Reset Your Password</h5>

<div class="form">

<%= form_with url: "/reset", method: 'post' , model: @user do |form| %>
 
  <%= form.label :query, "E-Mail Address:"  , class: "space"  %>
  <%= form.email_field :email , class: "control" %><br>

  <%= form.label :query, "Enter new password" , class: "space" %>
  <%= form.password_field :password , class: "control" %><br>

  <%= form.label :query, "Type new password again" , class: "space" %>
  <%= form.password_field :password_confirmation , class: "control" %><br>

  <%= form.submit "Reset Password" , id: "login-space", class: "reset" %>
  
  <%= link_to "Back", board_path %>

 <% end %>
 
</div>